
@{
    ViewBag.Title = "Customers";
}

@section styles
{
    <link href="~/Content/flyout.css" rel="stylesheet" />
}

<label class="flyout-hover">
    <input type="text" id="txtSearch" value="" placeholder="Search for customers"/>
    <div class="flyout" id="resultsContainer">
        
    </div>
    <div class="flyout" id="loader">
        <div class="flyout-footer">
            <img src="~/Content/img-custom/gif-load.gif" /> Loading
        </div>
    </div>
</label>

@section scripts
{
    <script src="~/Scripts/underscore-min.js"></script>
    <script src="~/Areas/Customers/Scripts/search.js"></script>
}
