
@{
    ViewBag.Title = "Customers";
}

@section styles
{
    <link href="~/Content/flyout.css" rel="stylesheet" />
}

<label class="flyout-hover">
    <input type="text" value="" placeholder="Search for customers"/>
    <div class="flyout">
        <div class="flyout-body">
            <ul class="list-unstyled">
                <li>Alec Stewart (Chicago, IL)</li>
                <li>Alec Stewart (Chicago, IL)</li>
                <li>Alec Stewart (Chicago, IL)</li>
                <li>Alec Stewart (Chicago, IL)</li>
                <li>Alec Stewart (Chicago, IL)</li>
                <li>Alec Stewart (Chicago, IL)</li>
                <li>Alec Stewart (Chicago, IL)</li>
                <li>Alec Stewart (Chicago, IL)</li>
                <li>Alec Stewart (Chicago, IL)</li>
                <li>Alec Stewart (Chicago, IL)</li>
            </ul>
        </div>
        <div class="flyout-footer">
            <a href="#">View all 106 results</a>
        </div>
    </div>
</label>